<div class="container">
    <div class="sidebar">
        <div class="header">
            لوگو
        </div>
        <div class="body">
            <div class="menu">
                <div *ngFor="let item of menu_item;index as i" class="menu_item">
                    <mat-icon style="width: 35px;">personal_video</mat-icon>
                    <span>
                       {{item + ' ' + i}}
                    </span>
                    <mat-icon>chevron_left</mat-icon>
                </div>
                
            </div>
        </div>
    </div>
    <div class="inner_container">
        <div class="header">
            
        </div>
    </div>
</div>