
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    .sidebar{
        transition: all 0.5s ease-in;
        width: 220px;
        height: 100%;
        flex-shrink: 0;
        background-color: var(--menu-bg);
        
        .line{
            width: 80%;
            background-color: black;
            height: 1px;
            border-radius: 50%;
            margin: 0 auto;
        }
        .header{
            height: 80px;
            width: 100%;
            text-align: center;
            line-height: 80px;
            font-size: 23px;
        }
        .body{
            width: 100%;
            width: 220px;
            
            .menu{
              .menu-tooltip::ng-deep{
                font-size: 10px;
              }
                width: 100%;
                .menu_item{
                    width: 100%;
                    height: 50px;
                    user-select: none;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    align-items: center;
                    color: var(--menu-item-color);
                    
                    position: relative;
                    border-right: 0px solid var(--amber);
                    transition: all .2s ease-out; 
                    .menu_item_stuff{
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      width: 100%;
                      height: 50px;
                      transition: all .2s ease-out; 
                      border-right: 0px solid var(--amber);
                      background-color: var(--menu-bg);
                      cursor: pointer;
                      .chevron_left{
                        transition: all .2s ease-out; 
                      }
                    }
                    
                    .menu_item_stuff:hover{
                      border-right: 6px solid var(--amber);
                      box-shadow: 0px 5px 11px gainsboro;
                      background-color: white;
                      z-index: 5;
                     
                      //border-radius: 50px 0 0 50px;
                      
                    }

                    .menu_item_stuff.down{
                      .chevron_left{
                        transform: rotate(-90deg);
                      }
                    }
                    .submenu_item{
                      width: 196px;
                      height: 50px;
                      cursor: pointer;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      color: var(--menu-item-color);
                      border-right: 2px dashed var(--amber);
                      background-color: var(--menu-bg);
                      opacity: 0;
                      z-index: -5;
                      transition: all .2s ease-out; 
                      cursor: pointer;
                      background-color: var(--submenu-bg);
                    }
                    .submenu_item:hover{
                      border-right: 6px solid var(--amber);
                      box-shadow: 0px 5px 11px gainsboro;
                      background-color: white;
                      z-index: 5;
                      //border-radius: 50px 0 0 50px;
                    }

                    
                }
                .menu_item.opened{
                  //height: 150px;
                  .submenu_item{
                   opacity: 1;
                   z-index: 1;
                  }
                }
                .active{
                  border-right: 6px solid var(--amber)!important;
                 
                  background-color: white!important;
                  
                }
               
                
               
            }
        }
    }
    .sidebar_closed{
        transition: all 0.5s ease-in;
        width: 70px;
        overflow: hidden;
       
    }
    .inner_container{
        height: 100vh;
        width: 100%;
        .header{
            height: 80px;
            background-color: var(--menu-bg);
            width: 100%;
            display: flex;
            align-items: center;
            .bruger_holder{
                width: 50px;
                text-align: center;
                
                .ham {
                    cursor: pointer;
                    -webkit-tap-highlight-color: transparent;
                    transition: transform 400ms;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    width: 45px;
                  }
                  .line {
                    fill:none;
                    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
                    stroke:#000;
                    stroke-width:5.5;
                    stroke-linecap:round;
                  }
                  .hamRotate.active {
                    transform: rotate(45deg);
                  }
                  .ham8 .top {
                    stroke-dasharray: 40 160;
                  }
                  .ham8 .middle {
                    stroke-dasharray: 40 142;
                    transform-origin: 50%;
                    transition: transform 400ms;
                  }
                  .ham8 .bottom {
                    stroke-dasharray: 40 85;
                    transform-origin: 50%;
                    transition: transform 400ms, stroke-dashoffset 400ms;
                  }
                  .ham8.active .top {
                    stroke-dashoffset: -64px;
                  }
                  .ham8.active .middle {
                    //stroke-dashoffset: -20px;
                    transform: rotate(90deg);
                  }
                  .ham8.active .bottom {
                    stroke-dashoffset: -64px;
                  }
            }
        }
        
      .for_scroll{
        
        margin: 25px;
        overflow-y: auto;
        max-height: 570px;
        .shortcuts_holder{
          display: flex;
          gap: 10px;
          justify-content: center;
          margin: 15px;
          height: 85px;
          .shortcut_card{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            height: 70px;
            width: 210px;
            //background: linear-gradient(191deg, rgba(255,191,0,1) 0%, rgba(34,193,195,1) 100%);]
            background-color: var(--amber);
            color: black;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            //transition: all .5s ease-out; 
            box-shadow: 0px 0px 0px gainsboro;
            overflow: hidden;
          }
          .shortcut_card:hover{
            //box-shadow: 0px 5px 11px gainsboro;
            //transition: all .5s ease-out; 
            //height: 75px;
            //width: 215px;
            border: 2px solid white;
           
          }
        }
        .component_holder{
          border-radius: 25px;
          background-color: var(--menu-bg);
          
          padding: 15px;
        }
        
        
      }
      .for_scroll::-webkit-scrollbar {
        width: 10px;
        border-radius: 5px;
        
      }
      
      /* Track */
      .for_scroll::-webkit-scrollbar-track {
        background: #f1f1f1; 
        border-radius: 5px;
        margin: 15px ;
      }
       
      /* Handle */
      .for_scroll::-webkit-scrollbar-thumb {
        background-color: var(--amber); 
        border-radius: 5px;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
      }
      
      /* Handle on hover */
      .for_scroll::-webkit-scrollbar-thumb:hover {
        background-color: var(--dark-amber); 
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
      }
    }
}

