/* You can add global styles to this file, and also import other style files */
@use './src/assets/styles/theme.scss';
:root{
  --menu-bg: #f8f8f8;
  --menu-item-color: #404040;
  --amber: #FFBF00;
  --dark-cyan: #048d8d;
  --dark-blue:#010630;
  --dark-amber:#b98b02;
}
/*html, body { height: 100%; }*/
body { margin: 0;  font-family: "Irans-sanse";}
@font-face{
    font-family:"Yekan";
    src: url('assets/font/Yekan.ttf');
}
@font-face {
    font-family:"Irans-sanse";
    src: url('assets/font/FontsFree-Net-ir_sans.ttf');
}
*{
    font-family: "Irans-sanse";
}

///////             input           //////////////

.mat-form-field-underline::before {
    /*change color of underline*/
    background-color: white !important;
  } 
  .mat-form-field-underline::before :hover {
    /*change color of underline*/
    background-color: white !important;
  } 
  .mat-form-field-appearance-fill .mat-form-field-flex:hover .mat-form-field-underline::before {
    /*change color of underline*/
    background-color: white !important;
  } 
  .mat-form-field-appearance-outline .mat-form-field-outline-thick{
      color: blue;
      opacity: 0.2;
  }

  .mat-form-field-label{
    color: white;
    font-size: 12px!important;
}   
.mat-form-field-appearance-outline .mat-form-field-outline{
    color: white;
}
.mat-input-element{
  color: white!important;
}
.mat-select-min-line{
  color: white;
}
//////////////////////////////////////////////
    